<main class="main">
    <section>
        <label for="search">Busca:</label>
        <input type="text" id="search" class="js-search-input">
        <input type="button" value="Buscar" class="js-search-btn">
        <input type="button" value="Reset" class="js-reset-btn">
    </section>
    <section>
        <h3>Lista de Cócteles</h3>
        <ul class="js-drink-list"></ul>
    </section>
    <section>
        <h3>Cócteles favoritos</h3>
        <ul class="js-favourite-list"></ul>
    </section>



</main>